<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Formulaires questions</title>

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"
        />

        <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"
        />

        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css"
            rel="stylesheet"
        />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    </head>
    <style>
        body {
            background-color: #fbfbfb;
        }

        .poll {
            padding: 20px;
            border: 1px solid #ccc;
        }

        .card {
            margin: 20px 0;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
        }

        .card-title {
            margin-bottom: 30px;
        }

        .poll-container {
            margin: 60px auto;
            padding: 25px;
            background: #fff;
            box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }

        h1.poll-title {
            text-align: center;
        }
    </style>
    <body>
        <div class="container poll-container">
            <h1 class="poll-title"><%= poll.name %></h1>

            <form class="form-horizontal" action="" method="POST">
                <div class="row">
                <% for(item in questions) { %>
                    <div class="col col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><%= questions[item].question %></h4>
                                <% if (questions[item].type == "text") { %>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                              <i class="fa fa-text-height"> </i>
                                            </span>
                                        </div>
                                        <% if (questions[item].parameters.multiline) { %>
                                            <textarea
                                                class="form-control form-control-lg"
                                                name=""
                                                id=""
                                                aria-describedby="helpId"
                                                placeholder=""
                                                rows=5
                                                cols=30
                                                <% if (questions[item].required) { %> required="true" <% } %>
                                            /></textarea>
                                        <% } else { %>
                                        <input
                                            type="text"
                                            class="form-control form-control-lg"
                                            name=""
                                            id=""
                                            aria-describedby="helpId"
                                            placeholder=""
                                            <% if (questions[item].required) { %> required="true" <% } %>
                                        />
                                        <% } %>
                                    </div>
                                <% } else if (questions[item].type == "date") { %>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                              <i class="fa fa-calendar"> </i>
                                            </span>
                                        </div>
                                        <input
                                            class="form-control form-control-lg"
                                            id="date"
                                            name="date"
                                            placeholder="MM/DD/YYYY"
                                            type="text"
                                            <% if (questions[item].required) { %> required="true" <% } %>
                                        />
                                    </div>
                                <% } else if (questions[item].type == "number") { %>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                              <i class="fa fa-sort-numeric-asc"> </i>
                                            </span>
                                        </div>
                                        <input
                                            type="number"
                                            name=""
                                            id="input"
                                            class="form-control form-control-lg"
                                            value=""
                                            <% if (questions[item].parameters.min) { %> min="<%= questions[item].parameters.min %>" <% } %>
                                            <% if (questions[item].parameters.max) { %> max="<%= questions[item].parameters.max %>" <% } %>
                                            <% if (questions[item].required) { %> required="true" <% } %>
                                        />
                                    </div>
                                <% } else if (questions[item].type == "range") { %>
                                    <div class="form-group">
                                        <input
                                            type="range"
                                            name="blaRange"
                                            id="input"
                                            class="form-control form-control-lg"
                                            value=""
                                            step="1"
                                            title=""
                                            oninput="blaRangeOuput.value = blaRangeOuput.value"
                                            <% if (questions[item].parameters.min) { %> min="<%= questions[item].parameters.min %>" <% } %>
                                            <% if (questions[item].parameters.max) { %> max="<%= questions[item].parameters.max %>" <% } %>
                                            <% if (questions[item].required) { %> required="true" <% } %>
                                        />
                                        <output
                                            name="blaRangeOuput"
                                            id="blaRangeOuput"
                                            >0</output>
                                    </div>
                                <% } else if (questions[item].type == "selector")  { %>
                                    <div class="form-group">
                                        <select
                                            class="select form-control"
                                            id="select"
                                            name="select"
                                        >
                                            <% for(option in questions[item].parameters.items) { %>
                                            <option value="<%= questions[item].parameters.items[option] %>"><%= questions[item].parameters.items[option] %></option>
                                            <% } %>
                                        </select>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <% } // endfor %>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary btn-block">
                            Submit
                        </button>
                    </div>
                </div>
                <input type="hidden" name="poll" value="1"/>
            </form>
        </div>

        <script
            type="text/javascript"
            src="https://code.jquery.com/jquery-1.11.3.min.js"
        ></script>
        <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"
        ></script>
        <script>
            $(document).ready(function () {
                var date_input = $('input[name="date"]'); //our date input has the name "date"
                var container =
                    $('.bootstrap-iso form').length > 0
                        ? $('.bootstrap-iso form').parent()
                        : 'body';
                date_input.datepicker({
                    format: 'mm/dd/yyyy',
                    container: container,
                    todayHighlight: true,
                    autoclose: true,
                });
            });
        </script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"
        />
    </body>

</html>
